/* Common styles */
.App {
  display: flex;
  text-align: center;
  min-height: 100vh;
  font-family: 'Archivo', sans-serif;
  flex-direction: column;
  background-color: #ececec;
  align-items: center;
  justify-content: flex-start;
  color: black;
}

.text-logo {
  font-size: 120px;
  font-family: 'Righteous', cursive;
  color: #f9f9f9;
  margin: -30px 0 0 0;
  width: 400px;
  background-color: #a2edc9;
  letter-spacing: 4px;
  padding: 0;
}

/* Todo inputs */
.todo-input-holder {
  display: flex;
  width: 400px;
}

.todo-input {
  width: 336px;
}

.todo-update-input {
  width: 333px;
}

.todo-input,
.todo-update-input {
  border: 2px solid #a2edc9;
  padding-left: 10px;
  height: 50px;
  background-color: #f9f9f9;
  font-family: 'Archivo', sans-serif;
}

.todo-input::placeholder {
  background-color: #ececec;
  color: #e65e8c;
}

.todo-input:focus {
  outline: none;
  border-bottom: 2px solid #a2edc9;
  border-right: 2px solid #a2edc9;
  background-color: black;
  color: #e65e8c;
}

.todo-input:focus::placeholder {
  color: white;
  background-color: rgb(88, 88, 88);
}

/* Buttons */
.button-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 396px;
  height: 35px;
  border: 2px #a2edc9;
  border-style: none solid solid;
  background-color: #a2edc9;
}

.items-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 396px;
  height: 22px;
  border: 2px #a2edc9;
  border-style: none solid solid;
  color: #e65e8c;
  background-color: #a2edc9;
}

.button-bar button {
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 1px grey;
  margin: 0 5px;
  padding: 3px 7px;
  font-family: 'Archivo', sans-serif;
}

.button-bar button:focus {
  outline: none;
}

.button-bar button:hover {
  box-shadow: 1px 1px 0.5px grey;
  background-color: lightgrey;
}

.toggle-all-button {
  height: auto;
  padding: 0;
  margin: 0;
  width: 50px;
  background-color: #a2edc9;
  border-radius: 0px;
  border: 0 solid transparent;
  box-shadow: none;
  outline: none;
}

.toogle-all-red-check {
  width: 40px;
  transition: 0.5s;
  border-radius: 50px;
  background-color: #e65e8c;
}

.toogle-all-green-check {
  width: 40px;
  transition: 0.5s;
  border-radius: 50px;
  background-color: #a2edc9;
}

.toogle-all-red-check:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.toogle-all-green-check:hover {
  transform: scale(1.4);
  transition: 0.5s;
}

.remove-button {
  background-color: #ececec;
  color: grey;
  cursor: pointer;
  padding: 2px 8px 6px 8px;
  border: solid 0.5px lightgrey;
  transition: 0.5s;
  box-shadow: 1px 1px 1px grey;
}

.remove-button:hover {
  color: #e65e8c;
}

/* Todo item */
.todo-holder {
  display: flex;
  flex-direction: row;
  width: 396px;
  border-bottom: 2px solid #a2edc9;
  border-left: 2px solid #a2edc9;
  border-right: 2px solid #a2edc9;
}

.todo-holder:last-of-type {
  border-bottom: 5px solid #a2edc9;
  border-bottom-right-radius: 15px;
}

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 50px;
  padding: 0px 10px;
}

.todo-toogle-input {
  display: flex;
  justify-content: center;
  width: 53px;
}

.todo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: left;
  cursor: pointer;
  width: 100%;
  height: 99%;
  text-align: left;
  cursor: pointer;
}

/* Checkbox
* Initial styles inspiration:
* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
*/

.checkbox-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  transition: 1s;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #d7e9e0;
  transition: 1s;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #a2edc9;
}

.checkmark:after {
  content: '';
  position: absolute;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 12px;
  width: 8px;
  height: 16px;
  margin-left: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 395px) {
  .todo-input-holder,
  .items-left,
  .button-bar,
  .todo-holder {
    width: 100vw;
  }
  .todo-input,
  .todo-update-input {
    width: 80vw;
    font-size: 16px;
  }
  .toggle-all-button,
  .todo-toogle-input {
    width: 20vw;
  }
  .text-logo {
    font-size: 90px;
    width: 100vw;
    height: 95px;
  }
  .button-bar button {
    font-size: 15px;
    margin: 2px;
  }
}

@media only screen and (max-width: 320px) {
  .button-bar button {
    font-size: 12px;
    margin: 2px;
  }
  .todo-input,
  .todo-update-input {
    font-size: 14px;
  }
}
